//* COLORS

$red: #f23b3b;
$orange: #f18701;
$yellow: #f7b801;
$green: #73956f;
$blue: #65a6d6;
$purple: #7b70df;
$black: #3d3b30;

//* BORDER
$border-sm: 0.1em;
$border-md: 0.2em;
$border-lg: 0.4em;
