.ButtonColor {
  label {
    cursor: pointer;
  }
  .color-radio {
    display: none;
  }
  .radio-mark {
    box-sizing: border-box;
    display: flex;
    height: 2.3em;
    width: 2.3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 100%;
    transition: all 0.1s ease;
    border: solid #f0f0f0 0;
  }
  .radio-mark:hover {
    border: solid #f0f0f0 0.6em;
    transition: all 0.1s ease;
  }
  .radio-mark.checked {
    border: solid #f0f0f0 0.6em;
    transition: all 0.1s ease;
  }
  .radio-mark.taken {
    opacity: 0.2;
  }
  .radio-mark.taken:hover {
    border: solid #f0f0f0 0;
    cursor: not-allowed;
  }
}
