@import './util/variables.scss';

.bg-red {
  background-color: $red;
}
.bg-orange {
  background-color: $orange;
}
.bg-yellow {
  background-color: $yellow;
}
.bg-green {
  background-color: $green;
}
.bg-blue {
  background-color: $blue;
}
.bg-purple {
  background-color: $purple;
}
.bg-black {
  background-color: $black;
}

h1,
h2,
h3 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.window {
  inset: 0;
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border-radius: 1em;
  padding: 1.8em;
  .card-header {
    h1 {
      margin-bottom: 0.5em;
    }
  }
}

.shadow {
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.1);
}
.shadow-sm {
  filter: drop-shadow(-2px 2px 1px rgba(0, 0, 0, 0.25));
}
