@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-app-dots;
  }
  h1 {
    @apply text-3xl font-display;
  }
  h2 {
    @apply text-xl font-semibold font-display;
  }
}

@layer utilities {
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
}

@layer components {
  .radio-mark.checked {
    @apply border-10;
  }
  .radio-mark.taken {
    opacity: 0.2;
  }
  .radio-mark.taken:hover {
    @apply border-none;
  }
}

.slide-lobby-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateX(500px);
}
.slide-lobby-enter-active {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
  transition: all 500ms ease-in;
}
.slide-lobby-exit {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
}
.slide-lobby-exit-active {
  opacity: 1;
  transform: scale(0.9);
  transform: translate(500px);
  transition: all 500ms ease-in;
}

.slide-login-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateX(-500px);
}
.slide-login-enter-active {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
  transition: all 500ms ease-in;
}
.slide-login-exit {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
}
.slide-login-exit-active {
  opacity: 1;
  transform: scale(0.9);
  transform: translate(-500px);
  transition: all 500ms ease-in;
}
