@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --d: 0 0% 100%;
  --p1: 258 80% 70%;
  --p2: 258 89% 66%;
  --p3: 258 60% 58%;
  --s1: 160 49% 62%;
  --s2: 160 84% 39%;
  --s3: 160 85% 33%;
  --a1: 44 100% 73%;
  --a2: 43 96% 56%;
  --a3: 44 89% 50%;
  --cp: 0 0% 100%;
  --cs: 0 0% 100%;
  --ca: 0 0% 100%;
  --c1: 220 14% 96%;
  --c2: 228 14% 93%;
  --c3: 220 15% 84%;
  --c4: 218 14% 65%;
  --c5: 220 14% 46%;
  --c6: 220 14% 37%;
  --c7: 219 14% 28%;
  --c8: 222 13% 19%;
  --c9: 223 14% 10%;
  --in: 207 90% 54%;
  --su: 174 100% 29%;
  --wa: 36 100% 50%;
  --er: 14 100% 57%;
} */

@layer base {
  body {
    @apply font-sans bg-app-dots;
  }
  h1 {
    @apply text-3xl font-display;
  }
  h2 {
    @apply text-xl font-semibold font-display;
  }
}

@layer utilities {
  .animation-delay-1500 {
    animation-delay: 1.5s;
  }
}

.slide-lobby-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateX(500px);
}
.slide-lobby-enter-active {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
  transition: all 500ms ease-in;
}
.slide-lobby-exit {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
}
.slide-lobby-exit-active {
  opacity: 1;
  transform: scale(0.9);
  transform: translate(500px);
  transition: all 500ms ease-in;
}

.slide-login-enter {
  opacity: 0;
  transform: scale(0.9);
  transform: translateX(-500px);
}
.slide-login-enter-active {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
  transition: all 500ms ease-in;
}
.slide-login-exit {
  opacity: 1;
  transform: scale(1);
  transform: translate(0);
}
.slide-login-exit-active {
  opacity: 1;
  transform: scale(0.9);
  transform: translate(-500px);
  transition: all 500ms ease-in;
}
